* {
  box-sizing: border-box;
}
:root {
  --background-color: #dbf2f4;
  --text-color: black;
  --project-color: rgb(241, 217, 230);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: var(--background-color);
}

header {
  padding: 20px;
  display: flex;
  justify-content: center;
  background-color: rgb(208, 222, 203);
  }

header h1 {
  font-size: 34px;
  margin: 20px;
}

header nav {
  padding: 10px;
  margin: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 28px;
}
header nav ul {
  list-style-type: none;
  margin-top: 0;
  display:flex;
  gap:5vw;
}

a {
  color: rgb(84, 84, 217);
  text-decoration: none;
}

.hero-banner{
  display: flex;
  justify-content: center;
 }
 
 .profile-pic{
   width:20vw;
   border-radius: 50%;
   border: 3px black double;
   padding:1.2%;
 }
.about {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
 .about-me {
  text-align: center;
  margin: auto;
  max-width: 50%;
  padding: 20px;
  border: 1px solid green;
  background-color: rgb(196, 240, 182);
  }

.about-me h2 {
  padding-bottom: 5px;
}

.portfolio-head {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.portfolio {
  display: grid;
  grid-template-columns: 500px 500px;
  grid-template-rows: 400px 300px 300px;
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 15px;
  justify-content: center;
}
.portfolio h2 {
  text-align: center;
}

.grid-item {
  border: 3px solid black;
  background-color: var(--project-color);
}

.project1 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.portfolio1-image {
  float: left; 
  margin: 5px;
  max-width: 450px;
  max-height: 300px;
}

.portfolio-image {
  float: left; 
  margin: 5px;
  max-width: 300px;
  max-height: 200px;
}

.page-section {
  display: flex;
  justify-content: space-evenly;
  margin: 50px;
}

footer {
  background-color: rgb(208, 222, 203);
}

footer h2 {
  margin-left: 120px;
}

footer nav ul {
  list-style-type: none;
  margin-top: 0;
  display:flex;
  gap:5vw;
  padding-top: 25px;
}

p {
  margin: 0;
}

@media (max-width:1300px) {
  footer h2 {
  margin-right: 120px;
}
}

@media (max-width:1015px) {
  .portfolio {
  grid-template-columns: 300px 300px;
  grid-template-rows: 650px 500px 500px;
}
.portfolio-image {
  max-width: 295px;
}
.portfolio1-image, .portfolio-image {
  margin: 0px;
  float: none;
}
}
@media (max-width:900px) {
header {
  flex-direction: column;
  align-items: center;
}
header h1{
  margin:0;
  text-align: center;
}
header nav{
  margin-left:0;
  padding:0;
  
}
.profile-pic {
  min-width: 170.62px;
  min-height: 161.41;
}
.about-me{
  max-width: 401.2px;
}
.portfolio1-image, .portfolio-image {
  margin: 0px;
}
.portfolio-image {
  max-width: 295px;
}
}
@media (max-width:625px) {
  header h1{
    margin:0;
    text-align: center;
  }
  header nav{
    margin-left:0;
    padding:0;
    
  }
  
  .about-me{
    max-width: 401.2px;
  }
  .project1 {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .portfolio {
  grid-template-columns: 300px;
  grid-template-rows: 650px 450px 450px;
}
.portfolio1-image, .portfolio-image {
  max-width: 295px;
  margin: 0px;
}
footer {
  flex-direction: column;
  align-items: center;
}
footer h2 {
  margin-left: 0px;
  margin-right: 0px;
}
footer nav ul{
  padding-top: 0;
  padding-left: 0;
}

}
@media (max-width:375px) and (min-width:350px) {
  .about-me{
   font-size:14px;
  }
.portfolio{
  font-size:14px;
}

}
@media (max-width:349px) and (min-width:301px) {
  .about-me{
   font-size:12px;
  }
  .portfolio{
    font-size:12px;
}
}
@media (max-width:300px) {
  header h1{
    margin:0;
    text-align: center;
  }
  header nav{
    margin-left: 20px;
    padding:0;
    font-size: 16px;
    
  }
  header nav ul{
    padding-left: 0;
  }
 
  .about-me{
    max-width: 401.2px;
  }
  .about-me p{
    text-align: left;
   
    font-size:12px;
  }
  .portfolio {
  grid-template-columns: 250px;
  font-size:12px;
}
.portfolio1-image, .portfolio-image {
  max-width: 245px;
}
}


